:root {
  --brand-black--darker: #020202;
  --brand-white--80: #f4f7f5cc;
  --brand-white: #f4f7f5;
  --_typography---h1: 4rem;
  --_typography---h2: 3.25rem;
  --_typography---h3: 1.75rem;
  --_typography---h4: .939rem;
  --_typography---p--regular: 1rem;
  --serenity-accent: #8fb8b9;
  --serenity-accent-light: #bbe0e1;
  --_spacing---container--width: 1280px;
  --_spacing---container--v-space: 7rem;
  --_spacing---container--padding: 4rem;
  --_typography---p--small: .75rem;
  --serenity-green: #588e91;
  --_typography---p--smaller: .66rem;
  --brand-gray: #bfc0c0;
  --_typography---p--big: 1.25rem;
  --_typography---p--bigger: 1.618rem;
  --brand-black: #121212;
  --pitch-black: black;
  --brand-gray--25: #bfc0c040;
  --gray: #6f6f6f;
  --_typography---h2--alt-small: 2.47rem;
  --muted-salmon: #b9908f;
  --dark-gray--50: #26262680;
  --stark-white: #fff;
  --brand-gray--50: #bfc0c080;
  --brand-gray--10: #bfc0c01a;
  --_spacing---home-model-grid: 1.1rem;
  --dark-gray--25: #26262640;
  --dark-gray: #262626;
  --brand-white--70: #f4f7f5b3;
  --dark-gray--75: #262626bf;
  --_spacing---container--2-column-space: 6rem;
  --brand-white--50: #f4f7f580;
  --_spacing---icon-placholder: 2rem;
  --deep-serenity: #151819;
  --brand-gray--75: #bfc0c0bf;
  --pitch-black--50: #00000080;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--brand-black--darker);
  color: var(--brand-white--80);
  --_typography---h1: 4rem;
  --_typography---h2: 3.25rem;
  --_typography---h3: 1.75rem;
  --_typography---h4: .939rem;
  --_typography---p--regular: 1rem;
  --_typography---p--small: .75rem;
  --_typography---p--smaller: .66rem;
  --_typography---p--big: 1.25rem;
  --_typography---p--bigger: 1.618rem;
  --_typography---h2--alt-small: 2.47rem;
  --_spacing---container--width: 1280px;
  --_spacing---container--v-space: 7rem;
  --_spacing---container--padding: 4rem;
  --_spacing---home-model-grid: 1.1rem;
  --_spacing---container--2-column-space: 6rem;
  --_spacing---icon-placholder: 2rem;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 150%;
}

h1 {
  color: var(--brand-white);
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: var(--_typography---h1);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 125%;
}

h2 {
  color: var(--brand-white);
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: var(--_typography---h2);
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-weight: 500;
  line-height: 125%;
}

h3 {
  color: var(--brand-white);
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: var(--_typography---h3);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 125%;
}

h4 {
  color: var(--brand-white);
  font-size: var(--_typography---h4);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 125%;
}

p {
  color: var(--brand-white--80);
  font-size: var(--_typography---p--regular);
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 200%;
}

a {
  color: var(--serenity-accent);
  font-size: var(--_typography---p--regular);
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: var(--serenity-accent-light);
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.base-section {
  min-height: 100vh;
}

.base-section.type-white-alt {
  background-color: var(--brand-white);
}

.container {
  z-index: 5;
  max-width: var(--_spacing---container--width);
  padding: var(--_spacing---container--v-space) var(--_spacing---container--padding);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container.nav-alt {
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.container.c-hero-alt {
  flex-flow: column;
  justify-content: flex-end;
  height: 100%;
  display: flex;
}

.container.right-side-alt {
  z-index: 5;
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.container.c-full-height {
  height: 100%;
}

.container.c-full-height.c-vertical-center {
  align-items: center;
  display: flex;
}

.container.bs--alt {
  height: 100%;
}

.container.container--tall {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.type-content {
  margin-bottom: var(--_spacing---container--v-space);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.type-content.mt-1 {
  margin-top: 1rem;
}

.h1-alt {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 6.4rem;
  font-weight: 500;
}

.p-small {
  font-size: var(--_typography---p--small);
  margin-bottom: 1rem;
}

.p-small.p-eyebrow {
  color: var(--serenity-green);
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-weight: 500;
  line-height: 100%;
}

.p-small.p-eyebrow.peye-small {
  color: var(--serenity-green);
  font-size: var(--_typography---p--smaller);
}

.p-small.p-eyebrow.ws-alt {
  color: var(--brand-gray);
}

.p-small.p-eyebrow.eye-on-white {
  font-weight: 500;
}

.p-small.p-eyebrow.tpb-alt {
  color: var(--serenity-green);
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.p-small.p-eyebrow-footer {
  color: var(--serenity-accent);
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: .75rem;
  line-height: 100%;
}

.p-small.p-eyebrow-footer.peye-small {
  color: var(--serenity-green);
  font-size: var(--_typography---p--smaller);
}

.p-big {
  font-size: var(--_typography---p--big);
  margin-bottom: 1.25rem;
  line-height: 161.8%;
}

.p-big.test-alt {
  color: var(--serenity-accent);
}

.p-bigger {
  font-size: var(--_typography---p--bigger);
  margin-bottom: 1.25rem;
  line-height: 161.8%;
}

.text-color-white {
  color: var(--brand-white);
}

.text-color-brand-gray {
  color: var(--brand-gray);
}

.text-color-serenity-green {
  color: var(--serenity-green);
}

.text-color-serenity-accent {
  color: var(--serenity-accent);
}

.text-color-serenity-accent.sc-scroll-hint._2 {
  left: var(--_spacing---container--padding);
  right: auto;
}

.button {
  background-color: var(--serenity-green);
  color: var(--brand-black);
  letter-spacing: -.025rem;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  justify-content: center;
  align-items: center;
  min-width: 240px;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  transition-property: background-color, letter-spacing;
  transition-duration: .6s, .5s;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
  display: inline-flex;
}

.button:hover {
  background-color: var(--serenity-accent);
  color: var(--brand-black);
  letter-spacing: .025rem;
}

.button.btn-secondary {
  background-color: var(--brand-white);
}

.button.btn-no-margin {
  margin-top: 0;
}

.button.btn-tertiary {
  color: var(--brand-white);
  text-align: center;
  white-space: nowrap;
  background-color: #0000;
  position: relative;
}

.button.btn-tertiary.btn--black {
  background-color: var(--pitch-black);
}

.button.btn--small {
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
  min-width: 200px;
  padding-top: .85rem;
  padding-bottom: .85rem;
  font-size: .8rem;
}

.button.btn--submit {
  margin-top: 1rem;
}

.hero-section {
  border-bottom: 1px none var(--brand-gray--25);
  background-color: var(--brand-black--darker);
  height: 100vh;
  min-height: 750px;
  position: relative;
}

.nav {
  z-index: 9;
  width: 100%;
  margin-top: 2rem;
  position: absolute;
}

.brand-link {
  width: 75px;
}

.menu-btn {
  cursor: pointer;
  background-color: #0000;
  width: 36px;
  height: 28px;
  position: relative;
}

.hero-content {
  width: 61.8%;
  max-width: 700px;
}

.hero-content.hero-content--center {
  margin-left: auto;
  margin-right: auto;
}

.action-and-hint {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.25rem;
}

.action-and-hint.aah--center {
  justify-content: center;
  align-items: center;
}

.hint {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex: 1;
  align-items: center;
  display: none;
}

.hint-line {
  border-top: 1px solid var(--gray);
  width: 1rem;
  height: 0;
}

.hint-text {
  color: var(--gray);
  font-size: var(--_typography---p--small);
  margin-bottom: 0;
  line-height: 100%;
}

.hint-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.hint-icon {
  color: var(--gray);
  width: 1rem;
}

.swipe-section {
  border-bottom: 1px solid var(--brand-gray--25);
  background-color: var(--pitch-black);
  height: 200vh;
}

.swipe-container {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.swipe-media {
  z-index: 2;
  width: 50vw;
  height: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
  overflow: hidden;
}

.swipe-content {
  z-index: 1;
  justify-content: space-between;
  height: 100%;
  display: flex;
  position: relative;
}

.sc-block {
  padding-right: var(--_spacing---container--padding);
  padding-left: var(--_spacing---container--padding);
  flex-flow: column;
  justify-content: center;
  width: 100%;
  display: flex;
  position: relative;
}

.header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.header.header--center {
  justify-content: flex-start;
  align-items: center;
}

.h2-alt {
  font-size: var(--_typography---h2--alt-small);
}

.sc-media {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  inset: 0%;
}

.sc-media._1 {
  z-index: 2;
  background-color: var(--serenity-green);
}

.sc-media._2 {
  z-index: 1;
  background-color: var(--muted-salmon);
}

.footer-section {
  border-top: 1px solid var(--dark-gray--50);
  background-color: var(--pitch-black);
  background-image: none;
}

.footer-content {
  justify-content: space-between;
  display: flex;
}

.footer-logo-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.footer-logo {
  aspect-ratio: 1566 / 372;
  color: var(--stark-white);
  width: 75%;
}

.footer-logo.text-color-cool-bw-gradient.fl-alt {
  color: #0000;
}

.footer-nav {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 50%;
  display: flex;
}

.footer-columns {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.footer-link {
  color: var(--serenity-green);
  font-size: var(--_typography---p--regular);
  text-decoration: none;
  transition: color .6s cubic-bezier(.165, .84, .44, 1);
}

.footer-link:hover {
  color: var(--serenity-accent);
}

.test-logo-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8rem;
}

.test-logo-embed {
  height: 100%;
}

.test-logo-embed._1 {
  aspect-ratio: 1;
}

.test-logo-embed._2 {
  aspect-ratio: 1566 / 372;
}

.divider {
  border-top: 1px solid var(--brand-gray--25);
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.h3 {
  font-size: var(--_typography---h3);
  margin-bottom: 1rem;
  font-weight: 500;
}

.text-color-gray {
  color: var(--gray);
}

.text-color-brand-gray-50 {
  color: var(--brand-gray--50);
}

.text-color-white-70 {
  color: var(--brand-white--80);
}

.text-color-cool-bw-gradient {
  background-image: linear-gradient(152deg, var(--brand-gray--50), var(--brand-white) 25%, #dbdddcc2 49%, #bfc0c0b8 80%, #ffffffd6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-color-cool-white-gradient {
  background-image: linear-gradient(180deg, var(--brand-gray--50), var(--brand-white) 34%, #dbdddcc2 82%, var(--brand-gray--25));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.sc-media-mobile {
  display: none;
}

.sc-scroll-hint {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  opacity: .89;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  margin-top: 4rem;
  font-weight: 200;
}

.sc-scroll-hint._2 {
  left: var(--_spacing---container--padding);
  justify-content: flex-start;
  align-items: center;
  right: auto;
}

.text-color-brand-gray-62 {
  color: #bfc0c09e;
}

.text-weight-thin {
  font-weight: 200;
}

.text-weight-thin.sc-txt {
  color: var(--brand-white);
  margin-bottom: 0;
  font-size: .8rem;
  line-height: 100%;
}

.benefits-section {
  background-color: var(--brand-black);
}

.benefits-content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  display: flex;
}

.bc-list {
  grid-column-gap: 7rem;
  grid-row-gap: 7rem;
  flex-flow: column;
  display: flex;
}

.bc-item {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bc-item.bci-reverse {
  flex-flow: row-reverse;
}

.bci-media {
  aspect-ratio: 1;
  border: 1px solid var(--brand-gray--25);
  background-color: var(--serenity-green);
  height: 250px;
}

.bci-media.bci-slider {
  background-color: var(--brand-black);
  position: relative;
}

.bci-copy {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.media-asset {
  width: 100%;
  height: 100%;
}

.explore-models-section {
  border-top: 1px solid var(--brand-gray--25);
  border-bottom: 1px solid var(--brand-gray--25);
  background-color: var(--pitch-black);
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  display: flex;
  position: relative;
}

.right-side-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  align-items: flex-start;
  width: 50%;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  display: flex;
}

.home-grid-background {
  z-index: 1;
  position: absolute;
  inset: 0%;
}

.hgb-grid {
  z-index: 1;
  grid-column-gap: var(--_spacing---home-model-grid);
  grid-row-gap: var(--_spacing---home-model-grid);
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.hgb-fade {
  z-index: 2;
  background-image: linear-gradient(90deg, #00000017 15%, #000 44%);
  position: absolute;
  inset: 0%;
}

.hgb-column {
  grid-column-gap: var(--_spacing---home-model-grid);
  grid-row-gap: var(--_spacing---home-model-grid);
  flex-flow: column;
  width: 200px;
  display: flex;
}

.hgb-column._2 {
  transform: translate(0, -2rem);
}

.hgb-column._3 {
  transform: translate(0, -10rem);
}

.hgb-column._5 {
  transform: translate(0, -5rem);
}

.hgb-item {
  aspect-ratio: 4 / 5;
  border: 1px solid #0000;
  width: 100%;
  position: relative;
}

.transition-section {
  background-image: linear-gradient(180deg, black, var(--brand-black));
  height: 50vh;
}

.word-slot-section {
  height: 300vh;
}

.ws-content {
  height: 100vh;
  position: sticky;
  top: 0;
}

.word-slot-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.word-slot {
  height: 128px;
  overflow: hidden;
}

.three-d-slider {
  margin-top: 4rem;
  display: flex;
  position: relative;
}

.tds-indicators {
  z-index: 2;
  flex-flow: column;
  justify-content: center;
  width: 100px;
  display: flex;
  position: absolute;
  inset: 0% auto 0% -2.5rem;
}

.tds-slides {
  flex: 1;
  min-height: 500px;
  display: flex;
}

.tds-slide {
  border: 1px solid var(--brand-gray--50);
  background-color: var(--brand-black);
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: absolute;
  inset: 0% 4rem;
  overflow: hidden;
}

.tds-slide._2 {
  transform-style: preserve-3d;
  transform: translate3d(0, -25px, -50px);
}

.tds-slide._3 {
  transform-style: preserve-3d;
  transform: translate3d(0, -50px, -100px);
}

.tds-slide._4 {
  transform-style: preserve-3d;
  transform: translate3d(0, -75px, -150px);
}

.tds-slide._5 {
  transform-style: preserve-3d;
  transform: translate3d(0, -100px, -200px);
}

.tds-slide._6 {
  transform-style: preserve-3d;
  transform: translate3d(0, -125px, -250px);
}

.tds-indicator {
  cursor: pointer;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.tdsi-circle {
  aspect-ratio: 1;
  background-color: var(--serenity-accent);
  border-radius: 100%;
  width: 36px;
  position: relative;
}

.tdsi-stem {
  background-color: var(--serenity-accent);
  opacity: .25;
  width: 2px;
  height: 1rem;
}

.tdsi-stem.hidden {
  display: none;
}

.tdsi-active {
  aspect-ratio: 1;
  background-color: var(--serenity-green);
  border-radius: 100%;
  width: 16px;
  transition: transform .6s cubic-bezier(.165, .84, .44, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tdsi-active.hidden {
  display: none;
}

.tds-header {
  flex-flow: column;
  justify-content: center;
  display: flex;
}

.tds-content {
  align-items: stretch;
}

.text-align-center {
  text-align: center;
}

.tdss-copy {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
}

.tdss-number {
  position: absolute;
  bottom: -4rem;
  left: -8rem;
}

.text-jumbo {
  letter-spacing: -1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: 19rem;
  font-weight: 500;
  line-height: 80%;
}

.h1 {
  font-size: var(--_typography---h1);
  margin-bottom: 1.5rem;
}

.h2 {
  font-size: var(--_typography---h2);
  font-weight: 500;
}

.tdss-media {
  background-color: var(--dark-gray--25);
  width: 323px;
  position: relative;
  overflow: hidden;
}

.tds-indicator-wrap {
  flex-flow: column;
  display: flex;
}

.tds-slide-list {
  perspective: 1000px;
  flex: 1;
  position: relative;
}

.tdss-eyebrow {
  display: inline-flex;
}

.menu-bar {
  background-color: var(--brand-white);
  width: 100%;
  height: 3px;
}

.menu-bar-wrap {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.menu-fullscreen {
  z-index: 8;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: hidden;
}

.menu-fullscreen:where(.w-variant-36df6d9a-1f27-4777-f99f-af059ddca527) {
  display: flex;
}

.mfs-container {
  background-color: var(--pitch-black);
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
  transform: translate(100%);
}

.mfs-container:where(.w-variant-36df6d9a-1f27-4777-f99f-af059ddca527) {
  transform: none;
}

.type-hiearchy {
  width: 61.8%;
  max-width: 600px;
}

.paragraph {
  color: var(--brand-white--80);
}

.text-color-elegance {
  color: var(--brand-black);
}

.paragraph-2 {
  color: var(--dark-gray);
}

.full-background {
  position: absolute;
  inset: 0%;
}

.mfs-menu {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.mfs-content {
  max-width: var(--_spacing---container--width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
}

.menu-link {
  color: var(--brand-white);
  font-family: Tt Firs Neue, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.mfs-contact {
  padding-bottom: 8rem;
  position: absolute;
  inset: auto 0% 0%;
}

.mfs-contact-content {
  max-width: var(--_spacing---container--width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
}

.upload {
  max-height: 500px;
}

.mask {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.title-container {
  flex-flow: column;
  padding-bottom: 2rem;
}

.card-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  perspective: 1000px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-columns: 1fr;
  display: grid;
  transform: none;
}

.card {
  background-color: var(--dark-gray);
  padding: 3.25rem 2.8rem 2.5rem;
  transition: transform .5s cubic-bezier(.19, 1, .22, 1);
  position: relative;
}

.card:hover {
  transform: none;
}

.card-row-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.card-icon-elem {
  color: var(--serenity-green);
}

.card-icon {
  width: 4rem;
  margin-bottom: 2rem;
}

.two-path-content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.two-path-header {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 3rem;
  display: flex;
}

.two-path-blocks {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.two-path-block {
  background-color: var(--dark-gray);
  padding: 2.5rem;
  position: relative;
}

.paragraph-3 {
  color: var(--brand-white--70);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
  flex-direction: column;
  width: 450px;
  display: flex;
}

._404-image {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.utility-page-form {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.input {
  background-color: var(--dark-gray);
  border-top: 1px #000;
  border-left: 1px #000;
  border-right: 1px #000;
  height: 3rem;
  padding: 1rem;
}

.pass-label {
  position: absolute;
  left: 1000000000px;
}

.pass-body {
  overflow-x: hidden;
}

.sc-mouse-icon {
  color: var(--brand-white);
  width: 23px;
  height: 23px;
}

.sc-hint-txt {
  color: var(--brand-white);
  margin-bottom: 0;
  font-size: .8rem;
  line-height: 100%;
}

.bcis-img {
  position: absolute;
  inset: 0%;
}

.bcis-img.playing-around {
  width: 66%;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.image-grayscale {
  filter: grayscale();
}

.progress-meter {
  background-color: var(--dark-gray--75);
  width: 1px;
  position: absolute;
  inset: 8rem 4rem 8rem auto;
}

.progress-meter._2 {
  left: 4rem;
  right: auto;
}

.progress-bar {
  background-color: #f4f7f540;
  width: 100%;
  height: 10%;
}

.sc-block-content {
  padding-right: 4rem;
}

.sc-block-content.scbc--left {
  padding-left: 4rem;
  padding-right: 0;
}

.contact-section {
  border-top: 1px solid var(--brand-gray--25);
  background-color: var(--brand-black);
}

.contact-content {
  grid-column-gap: var(--_spacing---container--2-column-space);
  grid-row-gap: var(--_spacing---container--2-column-space);
  display: flex;
}

.contact-copy, .contact-form {
  width: 100%;
}

.input-label {
  color: var(--brand-white--80);
  font-size: var(--_typography---p--small);
  font-weight: 300;
  line-height: 200%;
  transition: color 1s cubic-bezier(.19, 1, .22, 1);
}

.input-text {
  border-style: none none solid;
  border-width: 1px;
  border-color: transparent transparent var(--brand-white--50);
  background-color: var(--dark-gray);
  color: var(--brand-white--70);
  height: 3rem;
  transition: color .6s cubic-bezier(.19, 1, .22, 1), border-color .6s cubic-bezier(.19, 1, .22, 1);
}

.input-text:focus-visible {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-text[data-wf-focus-visible] {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-text::placeholder {
  color: var(--brand-white--50);
}

.input-wrap {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  margin-bottom: 1rem;
  display: flex;
}

.input-select {
  border-style: none none solid;
  border-width: 1px;
  border-color: transparent transparent var(--brand-white--50);
  background-color: var(--dark-gray);
  color: var(--brand-white--70);
  height: 3rem;
}

.input-select:focus-visible {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-select[data-wf-focus-visible] {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-textarea {
  border-style: none none solid;
  border-width: 1px;
  border-color: transparent transparent var(--brand-white--50);
  background-color: var(--dark-gray);
  color: var(--brand-white--70);
  height: 10rem;
  min-height: 10rem;
  transition: border-color .6s cubic-bezier(.19, 1, .22, 1), color .6s cubic-bezier(.19, 1, .22, 1);
}

.input-textarea:focus-visible {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-textarea[data-wf-focus-visible] {
  border-bottom-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-textarea::placeholder {
  color: var(--brand-white--50);
}

.grid-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.grid-video.video-grayscale {
  opacity: .49;
  filter: grayscale();
}

.configurator-section {
  background-color: var(--brand-black);
  background-image: none;
}

.config-content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.config-header {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 3rem;
  display: flex;
}

.config-blocks {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.config-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-right: 2.5rem;
  display: flex;
  position: relative;
}

.two-path-block-copy {
  background-color: var(--brand-black);
  padding: 2.5rem;
  position: relative;
}

.cb-icon {
  flex: none;
  width: 2.5rem;
  margin-bottom: 2rem;
}

.cb-icon._2 {
  width: 3rem;
}

.cb-icon._1 {
  margin-right: .5rem;
}

.cb-icon._3 {
  width: 3rem;
}

.image-inverted {
  filter: invert();
}

.supply-chain-section {
  border-top: 1px solid var(--brand-gray--25);
  height: 100vh;
  min-height: 800px;
}

.spc-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.spc-copy {
  border-right: 1px solid var(--brand-gray--25);
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.spc-blocks {
  width: 100%;
  overflow: hidden;
}

.spc-copy-container {
  padding-right: var(--_spacing---container--padding);
  padding-left: var(--_spacing---container--padding);
  width: 640px;
}

.spc-block-window {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  display: flex;
}

.spc-block-row {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.spc-block-item {
  max-width: 200px;
}

.build-smarter-section {
  border-top: 1px solid var(--brand-gray--25);
  height: 100vh;
  position: relative;
}

.media-background {
  z-index: 2;
  position: absolute;
  inset: 0%;
}

.media-background.mb--dim {
  opacity: .4;
}

.media-background.mb--svg {
  overflow: hidden;
}

.media-background.mb--dim-2 {
  z-index: 3;
  background-image: linear-gradient(180deg, #0000 83%, var(--pitch-black));
}

.basic-text-content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.command-center-section {
  border-top: 1px solid var(--brand-gray--25);
  height: 100vh;
  min-height: 800px;
}

.cc-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.cc-blocks {
  width: 100%;
  overflow: hidden;
}

.cc-copy {
  border-left: 1px solid var(--brand-gray--25);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.cc-copy-container {
  padding-right: var(--_spacing---container--padding);
  padding-left: var(--_spacing---container--padding);
  width: 640px;
}

.fuller-cube-outline {
  color: var(--serenity-green);
}

.cc-block-row {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.cc-block-item {
  max-width: 100px;
}

.success {
  background-color: var(--serenity-green);
}

.success-txt {
  color: var(--brand-black);
  font-weight: 500;
}

.error-message {
  background-color: var(--muted-salmon);
  color: var(--brand-black);
  margin-top: 2rem;
}

.error-txt {
  text-align: center;
  font-weight: 500;
}

.image-copy {
  justify-content: space-between;
  display: flex;
}

.ic-copy {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-right: 4rem;
  display: flex;
}

.ic-media {
  width: 100%;
}

.ic-img {
  object-position: 100% 50%;
}

.bci-media__svg-wrap {
  color: var(--brand-white);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
}

.bci-copy__heading {
  margin-bottom: 1.5rem;
}

.homeos-section {
  background-color: var(--dark-gray);
}

.first-home-section {
  border-bottom: 1px solid var(--brand-gray--25);
}

.fuller-prototype {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  display: flex;
}

.three-images {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.future-section {
  border-bottom: 1px solid var(--brand-gray--25);
  background-color: var(--brand-black);
}

.fuller-gallery {
  aspect-ratio: 16 / 9;
  max-height: 60vh;
  overflow: hidden;
}

.fuller-gallery-controls {
  justify-content: space-around;
  display: flex;
}

.fuller-gallery-control {
  aspect-ratio: 16 / 9;
  background-color: var(--brand-white);
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  padding: 1rem;
  display: inline-flex;
}

.fuller-gallery-control.fgc-active {
  background-color: var(--serenity-green);
}

.icon-placeholder {
  width: var(--_spacing---icon-placholder);
  height: var(--_spacing---icon-placholder);
  background-color: var(--serenity-accent);
  border-radius: 100%;
}

.fuller-gallery__wrap, .fuller-gallery__model {
  width: 100%;
  height: 100%;
}

.fuller-gallery__item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}

.fuller-gallery__image-meta {
  background-color: var(--brand-white);
  width: 20%;
  height: 100%;
  position: absolute;
  inset: auto 0% 0% auto;
}

.fuller-gallery__image {
  object-position: 100% 50%;
  position: relative;
  right: 10%;
}

@media screen and (max-width: 991px) {
  body {
    ---mode--collection-3df80f30-f7f3-f416-74c2-8f80fb1449ba: mode-68eb0ec5-c292-8e30-c851-232852445963;
    ---mode--collection-7dec5aba-7ba5-9caf-7a02-bf4cdc645827: mode-12a0614f-60e6-7a2c-835d-fc2bb9410959;
    --_typography---h1: 3.5rem;
    --_typography---h2: 3rem;
    --_typography---h3: 1.66rem;
    --_typography---h4: .939rem;
    --_typography---p--regular: .875rem;
    --_typography---p--small: .7rem;
    --_typography---p--smaller: .6rem;
    --_typography---p--big: 1.25rem;
    --_typography---p--bigger: 1.618rem;
    --_typography---h2--alt-small: 1.54rem;
    --_spacing---container--width: 1280px;
    --_spacing---container--v-space: 7rem;
    --_spacing---container--padding: 4rem;
    --_spacing---home-model-grid: 1.1rem;
    --_spacing---container--2-column-space: 3rem;
    --_spacing---icon-placholder: 1rem;
  }

  .p-small.p-eyebrow-footer {
    font-size: .5rem;
  }

  .button {
    justify-content: center;
    display: inline-flex;
  }

  .hero-content {
    width: 70%;
    max-width: 700px;
  }

  .h2-alt {
    font-size: var(--_typography---h2--alt-small);
  }

  .test-logo-block {
    flex-flow: wrap;
    height: auto;
  }

  .test-logo-embed {
    width: calc(50% - 2rem);
    height: auto;
  }

  .test-logo-embed._2.text-color-serenity-accent.full-alt {
    width: 100%;
  }

  .bci-media {
    height: 250px;
  }

  .right-side-content {
    width: 60%;
  }

  .tdss-number {
    left: -8rem;
  }

  .h2.tds-alt {
    font-size: 1.618rem;
    line-height: 150%;
  }

  .tds-txt, .tds-link {
    font-size: .75rem;
  }

  .type-hiearchy {
    width: 70%;
    max-width: 700px;
  }

  .card-row {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 3rem 1fr;
    grid-auto-columns: 1fr;
  }

  .card-icon {
    width: 3rem;
  }

  .two-path-content {
    grid-template-columns: minmax(0, 1fr);
  }

  .card-row-title, .card-row-p {
    text-align: left;
  }

  .sc-block-content {
    padding-right: 1rem;
  }

  .config-content {
    grid-template-columns: minmax(0, 1fr);
  }

  .cb-icon {
    width: 3rem;
  }

  .supply-chain-section {
    height: auto;
    min-height: 0;
  }

  .spc-content {
    flex-flow: column;
  }

  .spc-copy {
    padding: var(--_spacing---container--v-space) var(--_spacing---container--padding) 4rem;
    border-bottom: 1px solid var(--brand-white--50);
    border-right-style: none;
    border-right-width: 0;
    justify-content: center;
    align-items: center;
  }

  .spc-blocks {
    height: 600px;
  }

  .spc-copy-container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .spc-block-window {
    width: 200vw;
  }

  .command-center-section {
    height: auto;
    min-height: 0;
  }

  .cc-content {
    flex-flow: column-reverse;
  }

  .cc-blocks {
    height: 600px;
  }

  .cc-copy {
    padding: var(--_spacing---container--v-space) var(--_spacing---container--padding) 4rem;
    border-bottom: 1px solid var(--brand-white--50);
    border-right-style: none;
    border-right-width: 0;
    justify-content: center;
    align-items: center;
  }

  .cc-copy-container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .image-copy {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column-reverse;
  }

  .ic-copy {
    padding-right: 0;
  }

  .fuller-gallery-control {
    height: 3rem;
  }

  .fuller-gallery__image-meta {
    width: 30%;
  }

  .fuller-gallery__image {
    right: 18%;
  }
}

@media screen and (max-width: 767px) {
  body {
    ---mode--collection-3df80f30-f7f3-f416-74c2-8f80fb1449ba: mode-4be4314e-28be-59bd-b315-6d8f28a86445;
    ---mode--collection-7dec5aba-7ba5-9caf-7a02-bf4cdc645827: mode-a6756f41-9108-12a8-72b7-d22264272569;
    --_typography---h1: 3rem;
    --_typography---h2: 1.85rem;
    --_typography---h3: 1.52rem;
    --_typography---h4: .939rem;
    --_typography---p--regular: 1rem;
    --_typography---p--small: .75rem;
    --_typography---p--smaller: .66rem;
    --_typography---p--big: 1.25rem;
    --_typography---p--bigger: 1.618rem;
    --_typography---h2--alt-small: 1.85rem;
    --_spacing---container--width: 1280px;
    --_spacing---container--v-space: 5rem;
    --_spacing---container--padding: 3rem;
    --_spacing---home-model-grid: .6rem;
    --_spacing---container--2-column-space: 3rem;
    --_spacing---icon-placholder: 1rem;
  }

  img {
    height: 100%;
  }

  .container {
    position: relative;
  }

  .container.container--tall {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .type-content {
    width: 100%;
  }

  .p-small.p-eyebrow-footer {
    font-size: .75rem;
  }

  .hero-content {
    width: 100%;
    max-width: 550px;
  }

  .action-and-hint {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hint-line {
    width: .5rem;
    display: none;
  }

  .swipe-section {
    border-top: 1px solid var(--brand-gray--25);
    height: auto;
  }

  .swipe-container {
    padding-top: var(--_spacing---container--v-space);
    padding-bottom: var(--_spacing---container--v-space);
    height: auto;
    position: static;
  }

  .swipe-media {
    display: none;
  }

  .swipe-content {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column-reverse;
  }

  .footer-section {
    overflow: hidden;
  }

  .footer-content {
    grid-column-gap: 7rem;
    grid-row-gap: 7rem;
    flex-flow: column-reverse;
    align-items: center;
  }

  .footer-logo-wrap {
    align-self: flex-start;
    width: 100%;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-nav {
    width: 100%;
    max-width: none;
  }

  .test-logo-block {
    grid-column-gap: var(--_spacing---container--padding);
    grid-row-gap: var(--_spacing---container--padding);
    flex-flow: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    justify-content: flex-start;
    place-items: stretch stretch;
    height: auto;
    display: flex;
  }

  .test-logo-embed {
    width: calc(50% - 1.5rem);
    max-width: 100%;
    height: auto;
  }

  .test-logo-embed._2.text-color-serenity-accent.full-alt {
    width: 100%;
  }

  .sc-media-mobile {
    background-color: var(--brand-gray--10);
    width: 100%;
    height: 20rem;
    margin-top: 4rem;
    display: block;
  }

  .sc-scroll-hint {
    display: none;
  }

  .bc-item, .bc-item.bci-reverse {
    flex-flow: column;
  }

  .bci-media {
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .media-asset {
    object-fit: cover;
  }

  .explore-models-section {
    height: auto;
  }

  .right-side-content {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 0;
  }

  .hgb-grid {
    align-items: flex-start;
  }

  .hgb-fade {
    background-image: linear-gradient(#00000017, #000 38%);
  }

  .tds-indicators {
    width: 100%;
    inset: auto 0% 0%;
  }

  .tds-slides {
    min-height: 600px;
  }

  .tds-slide {
    bottom: 6rem;
    left: 0%;
    right: 0%;
  }

  .tds-indicator {
    flex-flow: row;
  }

  .tdsi-circle {
    width: 30px;
  }

  .tdsi-stem {
    width: 1rem;
    height: 2px;
  }

  .tdsi-active {
    width: 12px;
  }

  .tdss-copy {
    z-index: 2;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
  }

  .tdss-media {
    z-index: 1;
    opacity: .1;
    background-color: #0000;
    width: 300px;
    position: absolute;
    inset: 0% auto 0% 0%;
  }

  .tds-indicator-wrap {
    flex-flow: row;
    justify-content: center;
  }

  .tds-slide-list {
    min-height: 600px;
    display: flex;
    transform: none;
  }

  .type-hiearchy {
    width: 100%;
    max-width: 550px;
  }

  .mfs-content, .mfs-contact-content {
    padding-left: 3rem;
  }

  .card-row {
    grid-template-columns: 1fr;
  }

  .progress-meter {
    display: none;
  }

  .sc-block-content {
    padding-right: 0;
  }

  .sc-block-content.scbc--left {
    padding-left: 0;
  }

  .contact-content {
    flex-flow: column;
  }

  .cc-copy {
    border-left-width: 0;
  }

  .three-images {
    grid-template-columns: 1fr;
  }

  .fuller-gallery-controls {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .fuller-gallery-control {
    height: 2.5rem;
  }

  .fuller-gallery__image-meta {
    width: 35%;
  }

  .fuller-gallery__image {
    right: 22%;
  }
}

@media screen and (max-width: 479px) {
  body {
    ---mode--collection-3df80f30-f7f3-f416-74c2-8f80fb1449ba: mode-3ae099cd-e068-2ac9-7473-d1ba8b144827;
    ---mode--collection-7dec5aba-7ba5-9caf-7a02-bf4cdc645827: mode-a2f04b76-7cbe-d9ec-2fb4-452be6de54d7;
    --_typography---h1: 2.5rem;
    --_typography---h2: 1.54rem;
    --_typography---h3: 1.25rem;
    --_typography---h4: .939rem;
    --_typography---p--regular: .8rem;
    --_typography---p--small: .75rem;
    --_typography---p--smaller: .66rem;
    --_typography---p--big: 1.25rem;
    --_typography---p--bigger: 1.618rem;
    --_typography---h2--alt-small: 1.54rem;
    --_spacing---container--width: 1280px;
    --_spacing---container--v-space: 4rem;
    --_spacing---container--padding: 2rem;
    --_spacing---home-model-grid: .3rem;
    --_spacing---container--2-column-space: 3rem;
    --_spacing---icon-placholder: 1rem;
  }

  .container {
    width: 100%;
  }

  .container.c-hero-alt {
    padding-bottom: 10rem;
  }

  .container.container--tall {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .p-small.p-eyebrow-footer {
    font-size: .6rem;
  }

  .button {
    min-width: 220px;
    font-size: .75rem;
  }

  .hgb-fade {
    background-image: linear-gradient(#00000017, #000 32%);
  }

  .mfs-content, .mfs-contact-content {
    padding-left: 2rem;
  }

  .fuller-gallery-controls {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
  }

  .fuller-gallery-control {
    height: 31rem;
  }
}

@media screen and (max-width: 991px) {
  #w-node-b81d8d2f-ff41-4933-f043-9405555bd402-6117ded6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


@font-face {
  font-family: 'Tt Firs Neue';
  src: url('../fonts/TT-Firs-Neue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tt Firs Neue';
  src: url('../fonts/TT-Firs-Neue-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Tt Firs Neue';
  src: url('../fonts/TT-Firs-Neue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tt Firs Neue';
  src: url('../fonts/TT-Firs-Neue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}