.fuller-gallery-control .fuller-gallery__layout-icon {
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.fuller-gallery-control.fgc-active .fuller-gallery__layout-icon {
  color: var(--stark-white)
}

.fuller-gallery-control:not(.fgc-active):hover .fuller-gallery__layout-icon {
  color: var(--stark-white);
}