:root {
  --brand-black: #121212;
  --brand-gray--10: #bfc0c01a;
  --brand-gray--25: #bfc0c040;
  --brand-gray--50: #bfc0c080;
  --brand-gray: #bfc0c0;
  --brand-white--70: #f4f7f5b3;
  --dark-gray--25: #26262640;
  --dark-gray--50: #26262680;
  --dark-gray: #262626;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --btn-hover-duration: 0.5s;
  --menu-reveal-duration: 0.8s;
  --gray: #6f6f6f;
  --serenity-accent: #8fb8b9;
  --brand-white: #f4f7f5;
  --pitch-black--50: #00000080;
  --pitch-black: black;
  --serenity-accent: #588e91;
  --stark-white: #fff;
  --clip-path-concealed: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  --clip-path-revealed: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.mfs-container {
  will-change: transform;
}

#menu-btn .menu-bar {
  will-change: transform;
  transition: all 0.6s var(--ease-out-expo);
}

#menu-btn .menu-bar:nth-child(1) {
  transform-origin: left center;
  transform: rotate(0deg) translate(0, 0);
}

#menu-btn .menu-bar:nth-child(2) {
  opacity: 1;
}

#menu-btn .menu-bar:nth-child(3) {
  transform-origin: left center;
  transform: rotate(0deg) translate(0, 0);
}

#menu-btn[data-menu-state="open"] .menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(1px, -2px);
}

#menu-btn[data-menu-state="open"] .menu-bar:nth-child(2) {
  transform: translateY(-2rem);
  opacity: 0;
}

#menu-btn[data-menu-state="open"] .menu-bar:nth-child(3) {
  transform: rotate(-45deg) translate(2px, 1px);
}

.mfs-menu a.menu-link {
  color: unset;
  display: inline-block;
}

.mfs-menu a.menu-link {
  color: transparent !important;
  background-image: linear-gradient(
    to right,
    var(--serenity-accent) 50%,
    var(--brand-white) 50%
  );
  
  /* Background sizing and positioning */
  background-size: 200% 100%;
  background-position: right;
  
  /* Clip background to text shape */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Animation setup */
  transition: 
    background-position var(--btn-hover-duration) var(--ease-out-expo),
    transform var(--menu-reveal-duration) var(--ease-out-expo);
  transform: translateY(100%);
  will-change: background-position, transform;
}

.mfs-menu a.menu-link:hover {
  background-position: left;
}

.mfs-menu a.menu-link.reveal {
  transform: translateY(0);
}

.mfs-contact .mfs-contact-content p,
.mfs-contact .mfs-contact-content a.button {
  will-change: transform, opacity;
  transition: transform 1s var(--ease-out-expo), opacity 1s var(--ease-out-expo), letter-spacing 0.5s var(--ease-out-expo);
  transform: translateY(2rem);
  opacity: 0;
}

.mfs-contact .mfs-contact-content p.reveal,
.mfs-contact .mfs-contact-content a.button.reveal {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .mfs-menu a.menu-link {
    background-image: none;
    color: var(--brand-white);
  }
  .mfs-menu a.menu-link:hover {
    color: var(--serenity-accent);
  }
}