
/* .card {
  background-color: var(--serenity-green);
} */

.two-path-block, 
.card {
  --dynamic-clip: polygon(0 0, 93.3% 0, 100% 4.47%, 100% 100%, 6.7% 100%, 0 95.53%); 
  position: relative;
  background: transparent;
  z-index: 0;
}


.two-path-block::after, 
.card::after,
.two-path-block::before, 
.card::before {
  content: "";
  -webkit-clip-path: var(--dynamic-clip);
  clip-path: var(--dynamic-clip);
  position: absolute;
  transition: all 0.3s var(--ease-out-expo);
}

.two-path-block::after, 
.card::after {
  inset: 1px;
  background-color: var(--brand-black--darker);
  z-index: -1;
}

.two-path-block::before,
.card::before {
  background-color: var(--serenity-green);
  inset: 0;
  z-index: -2;
}

.two-path-block:hover::after, 
.card:hover::after {
  inset: 4px;
}