.tds-slide[data-step-num="01"] {
  transform-style: preserve-3d;
  transform: translate3d(0, 0px, 0px);
}

.tds-slide[data-step-num="02"] {
  transform-style: preserve-3d;
  transform: translate3d(0, -25px, -50px);
}

.tds-slide[data-step-num="03"] {
  transform-style: preserve-3d;
  transform: translate3d(0, -50px, -100px);
}

.tds-slide[data-step-num="04"] {
  transform-style: preserve-3d;
  transform: translate3d(0, -75px, -150px);
}

.tds-slide[data-step-num="05"] {
  transform-style: preserve-3d;
  transform: translate3d(0, -100px, -200px);
}

.tds-slide[data-step-num="06"] {
  transform-style: preserve-3d;
  transform: translate3d(0, -125px, -250px);
}

.tds-indicator-wrap .tds-indicator:last-child .tdsi-stem {
  display: none;
}

.tdsi-active {
  opacity: 0;
}

.tdsi-active.tds--active {
  opacity: 1;
}