/* custom code for fuller */
:root {
  --brand-black: #121212;
  --brand-white--70: #f4f7f5b3;
  --brand-white: #f4f7f5;
  --_typography---h1: 4rem;
  --_typography---h2: 2.47rem;
  --_typography---h3: 1.52rem;
  --_typography---h4: .939rem;
  --_typography---p--regular: .9rem;
  --_spacing---container--width: 1280px;
  --_spacing---container--v-space: 10rem;
  --_spacing---container--padding: 4rem;
  --_typography---p--small: .75rem;
  --serenity-accent: #8fb8b9;
  --serenity-green: #588e91;
  --_typography---p--smaller: .66rem;
  --_typography---p--big: 1.25rem;
  --_typography---p--bigger: 1.618rem;
  --brand-gray: #bfc0c0;
  --gray: #6f6f6f;
  --brand-gray--25: #bfc0c040;
  --dark-gray--50: #26262680;
  --_typography---h2--alt-small: 2.47rem;
  --dark-gray: #262626;
  --pitch-black: black;
  --stark-white: #fff;
  --brand-gray--50: #bfc0c080;
  --brand-gray--10: #bfc0c01a;
  --pitch-black--50: #00000080;
  --dark-gray--25: #26262640;
  --btn-shape: 0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%;
  --btn-shape--alt: 0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%;
}

.button.btn-tertiary::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--brand-white);
  clip-path: polygon(var(--btn-shape--alt));
}

.button.btn-tertiary::after {
  content: '';
  position: absolute;
  inset: 1px;
  background-color: var(--brand-black);
  clip-path: polygon(var(--btn-shape--alt));
}

.button.btn-tertiary > div {
  position: relative;
  z-index: 1;
}

.button.btn--black::after {
  background-color: var(--pitch-black) !important;
}

.hidden-svg {
  display: none;
}