/* custom code for fuller */
:root {
  --_spacing---container--padding: 4rem;
  --_spacing---container--v-space: 10rem;
  --_spacing---container--width: 1280px;
  --_typography---h1: 4rem;
  --_typography---h2--alt-small: 2.47rem;
  --_typography---h2: 2.47rem;
  --_typography---h3: 1.52rem;
  --_typography---h4: .939rem;
  --_typography---p--big: 1.25rem;
  --_typography---p--bigger: 1.618rem;
  --_typography---p--regular: .9rem;
  --_typography---p--small: .75rem;
  --_typography---p--smaller: .66rem;
  --brand-black--darker: #020202;
  --brand-black: #121212;
  --brand-gray--10: #bfc0c01a;
  --brand-gray--25: #bfc0c040;
  --brand-gray--50: #bfc0c080;
  --brand-gray: #bfc0c0;
  --brand-white--70: #f4f7f5b3;
  --brand-white: #f4f7f5;
  --breakpoint--mobile-large: 768px;
  --breakpoint--tablet: 991px;
  --btn-shape--alt: 0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%;
  --btn-shape: 0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%;
  --dark-gray--25: #26262640;
  --dark-gray--25: #26262640;
  --dark-gray--50: #26262680;
  --dark-gray: #262626;
  --deep-serenity: #151819;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --gray: #6f6f6f;
  --pitch-black--50: #00000080;
  --pitch-black: black;
  --serenity-accent: #8fb8b9;
  --serenity-green: #588e91;
  --stark-white: #fff;
}

/* * {
  font-variant-ligatures: none;
} */

.button.btn-tertiary::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--brand-white);
  clip-path: polygon(var(--btn-shape--alt));
}

.button.btn-tertiary::after {
  content: '';
  position: absolute;
  inset: 1px;
  background-color: var(--brand-black);
  clip-path: polygon(var(--btn-shape--alt));
}

.button.btn-tertiary > div {
  position: relative;
  z-index: 1;
}

.button.btn--black::after {
  background-color: var(--pitch-black) !important;
}

.button.btn--gallery::before {
  content: '';
  background-color: var(--brand-white) !important;
  -webkit-clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  transition-property: background-color;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  position: absolute;
  z-index: 2;
  inset: 2px;
}

.button.btn--gallery::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  padding: 1rem 2.5rem;
  background-color: var(--brand-black) !important;
  -webkit-clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  clip-path: polygon(0 0, 91% 0, 100% 20%, 100% 100%, 9% 100%, 0 80%);
  position: absolute;
  z-index: 1;
}

.button.btn--gallery:hover div.text--gallery {
  color: var(--brand-white);
}

.button.btn--gallery:hover::before {
  background-color: var(--brand-black) !important;
}

.input-wrap:has(:focus) label.input-label{
  color: var(--serenity-green);  
}


@media screen and (max-width: 768px) {
  .hero-section .media-background.mb--svg > .w-embed {
    width: 100%;
    height: 100%;
  }
} 

.animate-path {
  will-change: stroke-dashoffset;
}

.offsite-grid__number sup {
  background-image: inherit;
  background-clip: inherit;
  -webkit-background-clip: inherit;
  padding: 0.1rem 0.2rem 0 0;
  position: relative;
  top: -0.5rem;
}

.offsite-grid__text {
  font-size: 0.8rem;
  color: var(--brand-white--70);
}

select[multiple] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

.input-wrap--multiselect select[multiple] option {
  padding: 0.5em 0 0.5rem 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.4s ease-in-out;
}

.input-wrap--multiselect select[multiple] option:checked {
  background-color: var(--serenity-green);
  color: var(--brand-white);
}

.input-wrap--multiselect {
  border: 1px solid var(--brand-gray--25);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background: var(--dark-gray);
}
